@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: 'Pacifico';
  text-align: center;
  font-size: 1.75em;
  color: black;
  margin: 1rem; }

.header-top {
  width: 100%;
  background-color: #ffe4ec;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Arima'; }
  .header-top .header-compra {
    width: 100%;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Arima";
    font-size: 0.9375rem;
    list-style: none;
    align-items: center;
    margin-bottom: 5px; }
    .header-top .header-compra li .login {
      color: black;
      text-decoration: none;
      transition: 1s;
      padding-left: 10px; }
      .header-top .header-compra li .login:hover {
        font-weight: bold; }
      .header-top .header-compra li .login::after {
        content: '|'; }
    .header-top .header-compra li .carrito img {
      width: 25px;
      height: 25px;
      margin-left: 25px; }

header {
  background-color: #ffe4ec;
  position: sticky;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  header .header-contenedor {
    box-sizing: border-box;
    display: flex; }
    header .header-contenedor .header-logo img {
      width: 100px;
      height: 100px;
      justify-content: flex-start;
      align-items: center; }
  header .header-menu {
    background-color: #ffe4ec;
    width: 100%; }
    header .header-menu .navbar .navbar-nav .nav-item {
      font-family: 'Arima', cursive;
      font-size: 1.25em;
      list-style: none;
      color: black; }
      header .header-menu .navbar .navbar-nav .nav-item a:hover {
        font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: 'Pacifico';
  text-align: center;
  font-size: 1.75em;
  color: black;
  margin: 1rem; }

.productos .productos-listado .productos-listado-detalle h2, .productos .productos-listado .productos-listado-detalle h3, .productos .productos-listado .productos-listado-detalle h4 {
  color: black;
  font-style: normal;
  text-align: left;
  padding-left: 5px;
  font-family: 'Arima', cursive; }

.contenedor-boton .boton-ver-mas .link, .grid-container .regalos p, .productos .container .input-group, .contenedor .boton-ver-mas .link, .info-mayorista .info-registro .info-registro-titulo, .info-mayorista .info-registro p, .info-mayorista .grid-galeria .grid-items h3, .info-mayorista .info-compra .accordion-flush .accordion-item .accordion-header, .info-mayorista .info-compra .info-adicional h2, .info-mayorista .info-compra .info-adicional h3, .container .accordion .accordion-item .accordion-header, .info .info-adicional h2, .fondo-principal .formulario, footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-pago h3, footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-contacto h3, footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h3, footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h4 {
  font-family: 'Arima', cursive;
  font-style: normal;
  color: black; }

.hero {
  width: 100%;
  box-sizing: border-box; }

.productos h1 {
  font-family: "Pacifico";
  color: black;
  margin: 1rem;
  font-size: 1.75em;
  text-align: center; }

.productos .productos-listado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px; }
  .productos .productos-listado .productos-listado-detalle {
    max-width: 300px;
    height: 450px;
    border: 1px solid #cfc6c6;
    margin: 6px;
    border-top-right-radius: 10px;
    background-color: #ffe4ec; }
    .productos .productos-listado .productos-listado-detalle img {
      width: 300px;
      height: 300px;
      border-top-right-radius: 10px; }
    .productos .productos-listado .productos-listado-detalle h2 {
      font-size: 22px; }
    .productos .productos-listado .productos-listado-detalle h3 {
      font-size: 16px; }
    .productos .productos-listado .productos-listado-detalle:hover {
      box-shadow: 0px 10px 15px 0px #f3aacb; }
    .productos .productos-listado .productos-listado-detalle .boton {
      font-family: 'Arima', cursive;
      background-color: #ffc1d5;
      border-radius: 5px;
      color: #ffc1d5;
      padding: 0px;
      font-size: 16px;
      color: black;
      text-decoration: none;
      transition: 1s;
      margin-bottom: 2px; }
      .productos .productos-listado .productos-listado-detalle .boton:hover {
        background-color: #eb9ac0;
        font-weight: bold;
        color: black; }

.contenedor-boton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contenedor-boton .boton-ver-mas .link {
    text-decoration: none;
    text-align: center;
    padding: 6px;
    background-color: #ffc1d5;
    border-radius: 5px;
    font-size: 17px; }
  .contenedor-boton .boton-ver-mas:hover {
    background-color: #eb9ac0;
    font-weight: bold;
    color: black; }

.tiempo {
  width: 100%;
  height: 100%;
  background-image: url("../img/demoraprueba.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0.3125em;
  margin-top: 0.625em;
  display: flex;
  justify-content: right;
  align-items: flex-start; }
  .tiempo div {
    width: 80%; }
    .tiempo div h2 {
      font-family: 'Arima', cursive;
      color: black;
      margin: 1.25rem;
      font-size: 1.25em;
      font-style: normal;
      text-align: right;
      margin-bottom: 1.25rem; }
    .tiempo div h3 {
      font-family: "Arima";
      color: black;
      margin: 1.25rem;
      font-size: 1.25em;
      font-style: italic;
      text-align: right;
      margin-bottom: 0.9375rem; }
    .tiempo div p {
      font-family: "Arima";
      color: black;
      margin: 1.25rem;
      font-size: 1em;
      font-style: normal;
      text-align: right; }

.grid-container {
  width: 100%;
  margin: 5px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px; }
  .grid-container .img1 {
    grid-column: span 2; }
  .grid-container .regalos {
    width: 100%;
    height: 100%; }
    .grid-container .regalos p {
      font-size: 1.15rem;
      text-align: center;
      padding: 1.25em; }
  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s; }
    .grid-container img:hover {
      box-shadow: 0px 10px 6px 0px #eb9ac0; }

.productos h1 {
  font-family: "Pacifico";
  color: black;
  margin: 1rem;
  font-size: 1.75em;
  text-align: center; }

.productos .container {
  border-radius: 5px; }
  .productos .container .input-group {
    text-decoration: none;
    text-align: center;
    background-color: #ffc1d5;
    border-radius: 5px;
    font-size: 0.875rem; }
    .productos .container .input-group .form-select {
      box-shadow: none;
      border-color: black; }
      .productos .container .input-group .form-select div {
        font-family: 'Arima', cursive;
        font-size: 0.875rem;
        font-style: normal;
        color: black; }
    .productos .container .input-group .button {
      color: black;
      background-color: #ffc1d5;
      border-radius: 5px;
      font-size: 0.875rem;
      padding: 6px;
      outline: none; }
      .productos .container .input-group .button:hover {
        background-color: #eb9ac0;
        font-weight: bold;
        color: black; }

.contenedor {
  width: 100%; }
  .contenedor .boton-ver-mas .link {
    padding: 6px;
    background-color: #ffc1d5;
    border-radius: 5px;
    font-size: 17px;
    text-decoration: none; }
  .contenedor .boton-ver-mas:hover {
    background-color: #eb9ac0;
    font-weight: bold;
    color: black; }

.info-mayorista h1 {
  font-family: "Pacifico";
  color: black;
  margin: 1rem;
  font-size: 1.75em;
  text-align: center; }

.info-mayorista .info-registro .info-registro-titulo {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.4375rem;
  padding: 0.625rem; }

.info-mayorista .info-registro p {
  font-size: 1.125em;
  text-align: center;
  margin-bottom: 0.4375rem;
  padding: 0.625rem; }

.info-mayorista .grid-galeria {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  gap: 15px;
  padding: 15px;
  margin-bottom: 10px;
  align-items: center; }
  .info-mayorista .grid-galeria .grid-items {
    position: relative; }
    .info-mayorista .grid-galeria .grid-items img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      box-shadow: 9px 7px 5px 0px rgba(247, 191, 216, 0.49);
      -webkit-box-shadow: 9px 7px 5px 0px rgba(247, 191, 216, 0.49);
      -moz-box-shadow: 9px 7px 5px 0px rgba(247, 191, 216, 0.49);
      border: #f7bfd8 solid 1px; }
    .info-mayorista .grid-galeria .grid-items h3 {
      width: 100%;
      position: absolute;
      bottom: 0px;
      background-color: #fbd5e5;
      font-size: 0.9375rem;
      text-align: center; }

.info-mayorista .info-compra .accordion-flush .accordion-item .accordion-header {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
  margin: 5px; }
  .info-mayorista .info-compra .accordion-flush .accordion-item .accordion-header .accordion-button {
    background-color: #fbd5e5;
    box-shadow: none;
    color: black; }
    .info-mayorista .info-compra .accordion-flush .accordion-item .accordion-header .accordion-button:hover {
      background-color: #eb9ac0;
      font-weight: bold;
      color: black; }

.info-mayorista .info-compra .accordion-flush .accordion-item .accordion-collapse .accordion-body p {
  font-family: "Arima";
  color: black;
  margin: 0;
  font-size: 1em;
  font-style: normal;
  text-align: center; }

.info-mayorista .info-compra .info-adicional h2 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  margin: 0.75rem;
  background-color: #f7bfd8;
  transition: 1s; }

.info-mayorista .info-compra .info-adicional h3 {
  font-size: 1em;
  text-align: justify;
  margin-bottom: 0.9375rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem; }

.container h1 {
  font-family: "Pacifico";
  color: black;
  margin: 1rem;
  font-size: 1.75em;
  text-align: center; }

.container .accordion .accordion-item .accordion-header {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
  margin: 5px; }
  .container .accordion .accordion-item .accordion-header:hover {
    background-color: rgba(202, 196, 198, 0.87); }
  .container .accordion .accordion-item .accordion-header .accordion-button {
    background-color: #fbd5e5;
    box-shadow: none;
    color: black; }
    .container .accordion .accordion-item .accordion-header .accordion-button:hover {
      background-color: #eb9ac0;
      font-weight: bold;
      color: black; }

.container .accordion .accordion-item .accordion-collapse .accordion-body p {
  font-family: "Arima";
  color: black;
  margin: 0;
  font-size: 1em;
  font-style: normal;
  text-align: center; }

.container .info-imagen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-left: 5rem; }
  .container .info-imagen img {
    width: 70%;
    height: 60%; }

.info .info-adicional h2 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  margin: 0.75rem;
  background-color: #f7bfd8;
  transition: 1s; }

.info .info-adicional .map-responsive {
  overflow: hidden;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }
  .info .info-adicional .map-responsive .iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.fondo-principal {
  background-image: url("../img/contacto.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%; }
  .fondo-principal .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    margin: 0.3125rem; }
    .fondo-principal .formulario .formulario-caja .animate__animated {
      font-family: "Pacifico";
      color: black;
      margin: 1rem;
      font-size: 1.75em;
      text-align: center; }
    .fondo-principal .formulario .formulario-caja .row .col-sm-10 .form-control {
      box-shadow: none;
      border-color: #ffc1d5; }
    .fondo-principal .formulario .formulario-caja .row .col-sm-10 .form-check .form-check-input {
      box-shadow: none;
      background-color: #ffc1d5; }
      .fondo-principal .formulario .formulario-caja .row .col-sm-10 .form-check .form-check-input:hover {
        background-color: #eb9ac0; }
    .fondo-principal .formulario .formulario-caja .form-floating .form-control {
      box-shadow: none; }

.productos .productos-listado .productos-listado-detalle h2, .productos .productos-listado .productos-listado-detalle h3, .productos .productos-listado .productos-listado-detalle h4 {
  color: black;
  font-style: normal;
  text-align: left;
  padding-left: 5px;
  font-family: 'Arima', cursive; }

.contenedor-boton .boton-ver-mas .link, .grid-container .regalos p, .productos .container .input-group, .contenedor .boton-ver-mas .link, .info-mayorista .info-registro .info-registro-titulo, .info-mayorista .info-registro p, .info-mayorista .grid-galeria .grid-items h3, .info-mayorista .info-compra .accordion-flush .accordion-item .accordion-header, .info-mayorista .info-compra .info-adicional h2, .info-mayorista .info-compra .info-adicional h3, .container .accordion .accordion-item .accordion-header, .info .info-adicional h2, .fondo-principal .formulario, footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-pago h3, footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-contacto h3, footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h3, footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h4 {
  font-family: 'Arima', cursive;
  font-style: normal;
  color: black; }

footer .footer-contenedor {
  background-color: #ffe4ec;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }
  footer .footer-contenedor .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer-contenedor .footer-logo img {
      width: 90px;
      height: 70px; }
  footer .footer-contenedor .footer-items {
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-pago h3 {
      font-size: 1em;
      text-align: left;
      margin: 0.625rem; }
    footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-iconos {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: row; }
      footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-iconos img {
        width: 50px;
        height: 26px;
        margin: 0px 5px 5px 0px;
        box-sizing: border-box; }
    footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-info .footer-izquierda-enlaces {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-left: 0;
      align-items: center;
      align-content: flex-end; }
      footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-info .footer-izquierda-enlaces li {
        font-family: "Arima";
        font-size: 1rem;
        list-style: none;
        margin: 0.9375rem; }
        footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-info .footer-izquierda-enlaces li a {
          color: black;
          text-decoration: none;
          transition: 1s; }
          footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-info .footer-izquierda-enlaces li a:hover {
            text-decoration: overline; }
    footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-contacto h3 {
      font-size: 1rem;
      text-align: right;
      margin: 0.625rem; }
    footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-direction: column;
      padding-right: 10px;
      align-items: flex-end;
      align-content: center; }
      footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos img {
        width: 40px;
        height: 40px; }
      footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h3 {
        font-size: 0.9375rem;
        text-align: right;
        margin: 0.625rem; }
      footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h4 {
        font-size: 1rem;
        text-align: right;
        margin: 0.625rem; }

@media screen and (max-width: 970px) {
  .header-compra {
    font-size: 1.0625rem; }
  .header-logo {
    align-content: stretch; }
  .tiempo p {
    font-size: 1rem; }
  .grid-container .img2 img {
    object-fit: scale-down; }
  .grid-container .regalos p {
    font-size: 1rem; }
  footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-contacto h3 {
    text-align: left; }
  footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos {
    align-items: flex-start; }
    footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h3 {
      text-align: left; }
    footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h4 {
      text-align: left; }
  .info-mayorista .grid-galeria {
    grid-auto-rows: 300px; }
  .info-mayorista .info-compra .info-adicional h3 {
    font-size: 1em;
    text-align: center; } }

@media screen and (max-width: 764px) {
  .tiempo {
    justify-content: center;
    background-position: right; }
    .tiempo div h2 {
      font-size: 1.25em;
      text-align: center; }
    .tiempo div h3 {
      font-size: 1.0625em;
      text-align: center; }
    .tiempo div p {
      font-size: 0.75em;
      text-align: center; }
  .grid-container .regalos p {
    font-size: 0.75rem; }
  footer .footer-contenedor .footer-items {
    justify-content: center; }
    footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-pago {
      justify-content: center; }
      footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-pago h3 {
        text-align: center;
        font-size: 0.9375em; }
    footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-iconos {
      align-items: center;
      justify-content: center; }
    footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-info .footer-izquierda-enlaces {
      flex-direction: column; }
      footer .footer-contenedor .footer-items .footer-izquierda .footer-izquierda-info .footer-izquierda-enlaces li {
        font-size: 0.9375em;
        margin: 0.625em; }
    footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-contacto h3 {
      text-align: center;
      font-size: 0.9375em; }
    footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos {
      justify-content: center;
      align-items: center; }
      footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h3 {
        text-align: center;
        font-size: 0.9375em; }
      footer .footer-contenedor .footer-items .footer-derecha .footer-derecha-iconos h4 {
        text-align: center;
        font-size: 0.80em; }
  .info-mayorista .info-registro .info-registro-titulo {
    font-size: 1.25rem; }
  .info-mayorista .info-registro p {
    font-size: 1em;
    text-align: center; }
  .info-mayorista .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 158px; }
    .info-mayorista .grid-galeria .imagen1 {
      grid-column: span 2;
      grid-row: span 2; }
  .info-mayorista .info-compra .info-adicional h3 {
    font-size: 1.125em; }
  .info .info-adicional .map-responsive {
    margin-bottom: 15px; } }

@media screen and (max-width: 574px) {
  .header-top .header-compra {
    font-size: 1em; }
    .header-top .header-compra li img {
      width: 25px;
      height: 25px; }
  .header-logo {
    width: 100px;
    height: 90px;
    justify-content: flex-start;
    align-items: stretch; }
    .header-logo img {
      width: 90px;
      height: 90px;
      align-items: stretch; }
  .grid-container {
    grid-template-columns: 1fr; }
    .grid-container .grid-item {
      grid-column: span 1;
      grid-row: span 1; }
    .grid-container .img1 img {
      object-fit: scale-down; }
    .grid-container .regalos p {
      padding: 0px;
      font-size: 1rem; }
  .container .input-group {
    font-size: 0.6875rem; }
  .info-mayorista .grid-galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 464px;
    padding: 14px; }
    .info-mayorista .grid-galeria .grid-items {
      grid-column: auto;
      grid-row: auto; }
      .info-mayorista .grid-galeria .grid-items img {
        object-fit: contain;
        box-shadow: none; }
  .info-compra .accordion-flush .accordion-item .accordion-collapse .accordion-body p {
    margin: 0px;
    font-size: 0.90em; }
  .info-compra .accordion-flush .accordion-item .accordion-header {
    font-size: 0.95em; } }

@media screen and (max-width: 544px) {
  .header-menu .navbar .nav-item {
    font-size: 1em; }
  .tiempo div {
    width: 100%; }
    .tiempo div h2 {
      font-size: 1.125em;
      margin: 9px; }
    .tiempo div h3 {
      font-size: 1em;
      margin: 5px; }
    .tiempo div p {
      font-size: 0.8125em; }
  .info-mayorista .grid-galeria {
    grid-template-columns: auto;
    grid-auto-rows: 421px; }
  .info-mayorista .info-registro .info-registro-titulo {
    font-size: 0.875em; }
  .container .info-imagen .animate__animated img {
    display: none; } }

@media screen and (max-width: 495px) {
  .info-mayorista .grid-galeria {
    grid-auto-rows: 375px; } }

@media screen and (max-width: 415px) {
  .hero img {
    object-fit: cover; }
  .tiempo div {
    padding: 0px; }
    .tiempo div h2 {
      font-size: 1rem;
      padding-top: 5px; }
    .tiempo div h3 {
      font-size: 0.8125em; }
    .tiempo div p {
      font-size: 0.6875em;
      margin: 0px; }
  .grid-container {
    grid-auto-rows: 168px;
    margin: 0px;
    gap: 0px; }
    .grid-container .regalos p {
      font-size: 0.80rem; }
  .info-mayorista .grid-galeria {
    grid-auto-rows: 320px;
    gap: 0px; }
  .info-mayorista .info-registro .info-registro-titulo {
    font-size: 0.875em;
    text-align: center; }
  .info-compra .info-adicional h2 {
    font-size: 1.125rem; }
  .info-compra .info-adicional h3 {
    font-size: 0.8125em; }
  .info-compra .accordion-flush .accordion-item .accordion-collapse .accordion-body {
    font-size: 0.875rem; } }
