@import "./variables";

$boton:(
    bg-boton: $color-botones,
    border-boton: 5px,
    color-letra: black,
    tamaño-letra: 16px,
    linea: none,
    hover-boton: 1s,
);
 
$rosa-hover:(
    bg-hover: $color-boton-hover,
    grosor: bold,
    color-letra: black,
);
