@import "../base/variables";
@import "../base/generales";
@import "../base/mapas";
@import "../base/extend";
@import "../base/mixin";

// index//
.hero {
    width: 100%;
    box-sizing: border-box;
}
.productos {
    h1 {
        @include font-general ('Pacifico', black, 1rem, 1.75em);
        text-align: center;
    }
    .productos-listado {
        @include flex (flex, wrap, center);
        margin: 12px;
        .productos-listado-detalle {
            max-width: 300px;
            height: 450px;
            border: 1px solid rgb(207, 198, 198);
            margin: 6px;
            border-top-right-radius: 10px;
            background-color: $color-principal;
            img {
                width: 300px;
                height: 300px;
                border-top-right-radius: 10px
            }
            h2 {
                @extend %font-productos;
                font-size: 22px;
            }
            h3 {
                font-size: 16px;
                @extend %font-productos;
            }
            h4 {
                @extend %font-productos;
            }
            &:hover {
                box-shadow: 0px 10px 15px 0px $color-shadow;
            }
            .boton {
                font-family: 'Arima', cursive;
                background-color: map-get($boton, bg-boton);
                border-radius: map-get($boton, border-boton);
                color: map-get($boton, bg-boton);
                padding: 0px;
                font-size: map-get($boton, tamaño-letra);
                color: map-get($boton, color-letra);
                text-decoration: map-get($boton, linea);
                transition: map-get($boton, hover-boton);
                margin-bottom: 2px;
                &:hover {
                    background-color: map-get($rosa-hover, bg-hover);
                    font-weight: map-get($rosa-hover, grosor);
                    color: map-get($rosa-hover, color-letra);
                }
            }
        }
    }
}
.contenedor-boton {
    width: 100%;
    @include flex-2 (flex, center, center);
    .boton-ver-mas {
        .link {
            text-decoration: none;
            text-align: center;
            @extend %font-contenido-fijo;
            padding: 6px;
            background-color: $color-botones;
            border-radius: 5px;
            font-size: 17px;
        }
        &:hover {
            background-color: map-get($rosa-hover, bg-hover);
            font-weight: map-get($rosa-hover, grosor);
            color: map-get($rosa-hover, color-letra);
        }
    }
}

.tiempo {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: url("../img/demoraprueba.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0.3125em;
    margin-top: 0.625em;
    @include flex-2 (flex, right, flex-start);
    div {
        width: 80%;
        h2 {
            font-family: 'Arima', cursive;
            color: black;
            margin: 1.25rem;
            font-size: 1.25em;
            font-style: normal;
            text-align: right;
            margin-bottom: 1.25rem;
        }
        h3 {
            @include font-general ('Arima', black, 1.25rem, 1.25em);
            @include estilos-fuentes (italic, right);
            margin-bottom: 0.9375rem;
        }
        p {
            @include font-general ('Arima', black, 1.25rem, 1em);
            @include estilos-fuentes (normal, right);
        }
    }
}
.grid-container {
    width: 100%;
    margin: 5px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    .img1 {
        grid-column: span 2;
    }
    .regalos {
        width: 100%;
        height: 100%;
        p{
        @extend %font-contenido-fijo;
        font-size: 1.15rem;
        text-align: center;
        padding: 1.25em;
       }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;
        &:hover {
            box-shadow: 0px 10px 6px 0px $color-boton-hover;
        }
    }
}
// page - productos//
.productos {
    h1 {
        @include font-general ('Pacifico', black, 1rem, 1.75em);
        text-align: center;
    }
    .container{
        border-radius: 5px;
        .input-group{
            text-decoration: none;
            text-align: center;
            @extend %font-contenido-fijo;
            background-color: $color-botones;
            border-radius: 5px;
            font-size: 0.875rem;
            .form-select{
                box-shadow: none;  
                border-color: black ;
                div{
                    font-family: 'Arima', cursive;
                    font-size: 0.875rem;
                    font-style: normal;
                    color: black;
                    }
                }
                .button{
                    color: black;
                    background-color: $color-botones;
                    border-radius: 5px;
                    font-size: 0.875rem;
                    padding: 6px;
                    outline:none;
                    &:hover{
                        background-color: map-get($rosa-hover, bg-hover);
                        font-weight: map-get($rosa-hover, grosor);
                        color: map-get($rosa-hover, color-letra);
                    }
                }
            }
        }
}
.contenedor{
        width: 100%;
        .boton-ver-mas {
                .link {
                     @extend %font-contenido-fijo;
                    padding: 6px;
                    background-color: $color-botones;
                    border-radius: 5px;
                    font-size: 17px;
                    text-decoration: none;  
                    }
                &:hover {
                    background-color: map-get($rosa-hover, bg-hover);
                    font-weight: map-get($rosa-hover, grosor);
                    color: map-get($rosa-hover, color-letra);
                    }
                }
}
// page - mayorista//
.info-mayorista{
    h1 {
        @include font-general ('Pacifico', black, 1rem, 1.75em);
        text-align: center;
    }
    .info-registro{
        .info-registro-titulo{
            @extend %font-contenido-fijo;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 0.4375rem;
            padding: 0.625rem;
        }
        p{
            @extend %font-contenido-fijo;
            font-size: 1.125em;
            text-align: center;
            margin-bottom: 0.4375rem;
            padding: 0.625rem; 
        }
    }
    .grid-galeria{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 450px;
        gap: 15px;
        padding: 15px;
        margin-bottom: 10px;
        align-items: center;
        .grid-items{
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                box-shadow: 9px 7px 5px 0px rgba(247,191,216,0.49);
                -webkit-box-shadow: 9px 7px 5px 0px rgba(247,191,216,0.49);
                -moz-box-shadow: 9px 7px 5px 0px rgba(247,191,216,0.49);
                border: #f7bfd8 solid 1px;
            }
            h3{
                width: 100%;
                position: absolute;
                bottom: 0px;
                @extend %font-contenido-fijo;
                background-color: #fbd5e5;
                font-size: 0.9375rem;
                text-align: center;
            }
        }
    }
    .info-compra{
        .accordion-flush{
            .accordion-item{
                .accordion-header{
                    width: 100%;
                    height: 100%;
                    @extend %font-contenido-fijo;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.25em;
                    margin: 5px;
                    .accordion-button{
                        background-color: #fbd5e5;
                        box-shadow: none;   
                        color: black;
                        
                        &:hover{
                            background-color: map-get($rosa-hover, bg-hover);
                            font-weight: map-get($rosa-hover, grosor);
                            color: map-get($rosa-hover, color-letra);
                        }
                    }
                }
                .accordion-collapse{
                    .accordion-body{
                        p{
                            @include font-general ('Arima', black, 1.25rem, 1em);
                            @include estilos-fuentes (normal, center);
                        }
                    }
                }

            }

        }
        .info-adicional{
            h2{
                @extend %font-contenido-fijo;
                @include font-footer (1.25rem, center);
                font-weight: bold;
                margin: 0.75rem; 
                background-color: #f7bfd8;
                transition: 1s;
            }
            h3{
                @extend %font-contenido-fijo;
                @include font-footer (1em, justify);
                margin-bottom: 0.9375rem;
                padding: 0.625rem;
                margin-bottom: 0.625rem;
            }
        }
    }
}
// page - envio//
.container{
    h1{
        @include font-general ('Pacifico', black, 1rem, 1.75em);
        text-align: center;
    }
    .accordion{
        .accordion-item{
            .accordion-header{
                width: 100%;
                height: 100%;
                @extend %font-contenido-fijo;
                text-align: center;
                font-weight: bold;
                font-size: 1.25em;
                margin: 5px;
                &:hover{
                    background-color: hsla(340, 5%, 78%, 0.87);
                }
                .accordion-button{
                    background-color: #fbd5e5;
                    box-shadow: none;   
                    color: black;
                    &:hover{
                        background-color: map-get($rosa-hover, bg-hover);
                        font-weight: map-get($rosa-hover, grosor);
                        color: map-get($rosa-hover, color-letra);
                    }
                }
            }
            .accordion-collapse{
                .accordion-body{
                    p{
                        @include font-general ('Arima', black, 1.25rem, 1em);
                        @include estilos-fuentes (normal, center);
                    }
                }
            }

        }

    }
    .info-imagen{
        @include flex (flex, wrap, center);
        width: 100%;
        height: 100%;
        align-items: center;
        margin-left: 5rem;
        img{
            width: 70%;
            height: 60%;
        }
    }
}
.info{
    .info-adicional{
        h2{
            @extend %font-contenido-fijo;
            @include font-footer (1.25rem, center);
            font-weight: bold;
            margin: 0.75rem; 
            background-color: #f7bfd8;
            transition: 1s;
        }
        .map-responsive{
            overflow: hidden;
            position: relative;
            height: auto;
            @include flex-2(flex, center, center);
            margin-bottom: 10px;
            .iframe{
                left:0;
                top:0;
                height:100%;
                width:100%;
                position:absolute;
            }
        }
    }
}
// page - contacto//
.fondo-principal{
    background-image: url("../img/contacto.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    .formulario{
        @extend %font-contenido-fijo;
        @include flex-2(flex, center, center);
        font-size: 1rem;
        flex-direction: column;
        margin: 0.3125rem;
        .formulario-caja{
            .animate__animated{
                @include font-general ('Pacifico', black, 1rem, 1.75em);
                text-align: center;
            }
            .row{
                .col-sm-10{
                    .form-control{
                        box-shadow: none;
                        border-color: #ffc1d5;
                    }
                }
                .col-sm-10{
                    .form-check{
                        .form-check-input{
                            box-shadow: none;
                            background-color: #ffc1d5;
                            
                            &:hover{
                                background-color: #eb9ac0;
                            }
                        }
                    }
                }
            }
            .form-floating{
                .form-control{
                    box-shadow: none;
                    
                }
            }

        }
        
    }
    
}